/* CSS styles for background and heading */
.bg {
    text-align: center;
    min-height: 100%;
    background-image: linear-gradient(to right, hsl(209, 45%, 22%), #6498ED, #00ced1, #ADD8E6, #E0FFFF);
    padding: 0;
    margin: 0;
    position: relative;
    }
    
    .bg1 {
    text-align: center;
    min-height: 1000px;
    background-image: linear-gradient(to right, #64c244, #249d1f, #44ba1c, #23c749, #1f8012);
    padding: 0;
    margin: 0;
    position: relative;
    }
    
    h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 50px;
        color: #333;
        text-shadow: 2px 2px #ddd;
        font-family: 'Helvetica Neue', sans-serif;
    }
    button {
        display: block;
        margin: 0 auto;
        background-color: #191970;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
    button:hover {
        background-color: #fff;
        color: #191970;
        border: 1px solid #191970;
    }